body{
.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;

}
.nav-tittle{    
font-weight: 800;
font-size: 45px;
line-height: 61px;
color: #000000;

}
.text-primary{
    color: #FD6E0A; 
}